footer{
    background-color: rgb(43, 40, 40);
    padding: 0 50px;
    margin-left: -10px;
      
}
#rodape1{
    margin: center;
    display: flex;
    justify-content: center;   
}

#rodape1 img{
    white:250px;
    height:50px;
    margin-top: 20px;
}
#rodape1 p{
    color: white;
}
#texto{
    background-color: #353535;
    height:40px;
    border: 0px;
    padding: 0px 20px;
    color: white;
}

#botao{
    background-color: #0081c2;
    height:40px;
    border: 0px;
    padding: 0px 20px;
    color: white;
}

#form{
    display:flex;
}

#rodape2{
    display: flex;
    justify-content: space-between;
    border: 0px solid blue;
}
#rodape2 h4{
    color: #54595F;
    font-size: 12px;
    font-family: Poppins;
}


