footer{
    background-color: rgb(43, 40, 40);
    padding: 0 50px;
    margin-left: -10px;
  
}
#rodape1{
    display: flex;
    justify-content: space-between;
    
}

#rodape2{
    display: flex;
    justify-content: space-between;
    border: 0px solid blue;
}
#rodape1 h3{
    color: white;
}

#rodape1 p{
    color: white;
}

#rodape1 ul li a{
    color: #54595F;
}

#rodape1 ul{
    margin-left:-40px;
}

#rodape1 ul li{
    display: block;
    margin-top: 30px;
}

#rodape2 h3{
    color: #54595F;
    font-size: 12px;
    font-family: Poppins;
}
#rodape2 img{
    white:50px;
    height:50px;
    color: white;
}

#rodape1 img{
    white:250px;
    height:50px;
    margin-top: 20px;
}

#texto{
    background-color: #353535;
    height:40px;
    border: 0px;
    padding: 0px 20px;
    color: white;
}

#botao{
    background-color: #0081c2;
    height:40px;
    border: 0px;
    padding: 0px 20px;
    color: white;
}

#form{
    display:flex;
}