.truck{
    height: 700px;
}
h3{
    font-size: 40px;
    background-color:  #1e8fcd;
    margin-right:1100px;
    margin-left: 10px;
    border-radius: 0px 50px  50px 0px;
}
#livros
{
    display: flex;
    gap: 5px ;
    align-items: start;
    flex-wrap: wrap;
}
#livros img
{
    align-items: inherit; 
    
    padding: 0 0px;
    width: 200px;
    height: 300px;
    align-items: center;
    box-shadow: 5px 5px 5px 8px #0000005e;
    margin: 0 30px ;
 
}
#livros p
{
    align-items: center;
    margin-left: 35px;

}

/* serviços*/
#container{
    margin-top: 120px;
}
#serviços{
    height: 1500px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;    
}
#item{
    display: flex;
    height: 350px;
    width: 1000px;
    justify-content: space-between;
    align-items: center;
}
#sala{
    height: inherit;
    width: auto;
    border-radius: 20px;  
}

/*SOBRE */
#cotaier h1{
    text-align: center;
}
.texto{
    height: 500px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap:10px;
}
#item{}

#paragrafo{
    width: 450px;
}
#item p{
    text-align: justify;
}
#sobre{
    height: inherit;
    width: 450px;  
    border-radius: 30px;
}