html
{
    font-family:'Open Sans', sans-serif;
}
body{
    margin: 0;
} 
.container
{
    max-width: 1920px;
    width:100%;
}
nav {
    position: fixed;
    top: 0;
    height: auto;
    width: 100%;
    z-index:1;
}
nav::after{
    clear: both;
    content: "";
    display: block;
}




.navigation{
    
    position: relative;
    margin-right:auto;
    margin-left: auto;
    background-color: #18243b;
    margin-bottom: 20px;
    border: 1px solid;
    padding: 16px;
    height: 60px;
    display: flex;
    justify-content: space-between;
    padding-left:40px; 
}
#logotipo{
    
    width:155px;
    height:  55px;
}

.navigation ul {
    float: right;
    height: 100px;
    line-height: 100px;
    
    margin: 0;
}
.navigation li{
    list-style: none;
    float: left;
    margin: 0 15px;
}
.navigation li a
{
    text-decoration: none;
    color: white;
    transition:.5%;
}

.navigation li a:hover
{
    color: #3381f3;
 
}


#banner
{
    background: url('imagens/banner1.jpg') no-repeat;
    background-size: cover;
    background-position: 0 40%;
    position: relative;
    margin-top: 93px;

}
#banner h1
{
    position: relative;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    padding-top: 20%;
    padding-bottom: 5em;
    text-align: 50%;
    font-size: 40px;
}
#banner p{
    margin-left: auto;
    margin-right: auto;
    margin-top: 0px;
    margin-bottom: 60px;
    font-size: 39px;
    font-weight:300;
}

#seach-form input, #seach-form select
{
    background-color: #fff;
    border-radius: 5px;
    border-color: 5px;
    padding: 10px 20px;
    font-size: 18px;
    margin: 0 10px;
    cursor: pointer;
} 